.cover {
	float:left;
	position: relative;

}

.cover {
	position: relative;
	display: inline-block;
	width: 150px;
	height: auto;
	transition: all 0.2s;
}

.cover:hover {

    width:250px;
    height:auto;

    z-index:999;
}


.red a {
	color: red;
}

.grey a {
	color: grey
}

